{% extends "Rater/base.html" %}

{% block content %}
<div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Important:
                    {% endif %}
                   {{ message }}
               </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
    <h2>This is the index page</h2>
    <div>Top 20 movie list exists, but excluded from live version due to lag
        view some other users:
      <ul>
        <li><a href="/user.html1">User number 1</a></li>
        <li><a href="/user.html10">User number 10</a></li>
        <li><a href="/user.html100">User number 100</a></li>
        <li><a href="/user.html111">User number 111</a></li>
        <li><a href="/user.html6044">Clinton's page</a></li>
      </ul>
    </div>
    <div>View some movies:
      <ul>
        <li><a href="/movie.html2987">Who Framed Roger Rabbit</a></li>
        <li><a href="/movie.html3421">Animal House</a></li>
        <li><a href="/movie.html2124">The Addams Family</a></li>
        <li><a href="/movie.html2554">Children of the Damned</a></li>
      </ul>
    </div>
    <div>View genre pages with top-rated movies:
      <ul>
        {% for genre in genres %}
          <li><a href="{% url 'view_genre' genre.id %}">{{ genre.text }}</a> genre </li>
        {% endfor %}
      </ul>
    </div>
    <p>
      View the <a href="/top20.html">Top 20 rated movies</a>
    </p>
    <p>Data comes from the <a href="http://grouplens.org/datasets/movielens/">MovieLens</a>
        dataset. You can visit <a href="https://movielens.org/">their site</a> to leave
        your own non-commercial movie reviews.
    </p>
    <p>Site was created as part of The Iron Yard Python curriculum.
    </p>
    <a href="http://www.djangoproject.com/">
      <img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>

{% endblock %}
