{% extends "Rater/base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>MovieLens Project</h1>
    <p>Rate, review, create an account, edit, and delete your old reviews.
        Make a new account, and do it all over again.
        The world of movies is your oyster in this website for the Iron Yard's
        Python class. Broiled in Django, sautéed in bootstraps, and given just
        a pinch of jQuerry to taste, this will fill you up with 1 million
        reviews.
    </p>
  </div>

  <p>This is a web application that uses a variety of tools. It has a locally
      hosted copy of <a href="http://getbootstrap.com/">bootstrap</a> and
      <a href="https://jquery.com/download/">jQuerry</a>.
      It also uses a <a href="http://www.postgresql.org/">PostgreSQL</a> database.
      Whether or not you are looking at that version right now, it has
      been test-deployed on <a href="https://www.heroku.com/">Heroku</a>.</p>

  <p>This is the index page. Top 20 movie link exists below, but you should
      avoid it in the live version due to lage. Same goes for genres.</p>
  <div class="page-header"><h2>View some users</h2></div>
    <div>
      <ul>
        <li><a href="/user.html1">User number 1</a></li>
        <li><a href="/user.html10">User number 10</a></li>
        <li><a href="/user.html100">User number 100</a></li>
        <li><a href="/user.html111">User number 111</a></li>
        <li><a href="/user.html6044">Clinton's page</a></li>
      </ul>
    </div>
    <div class="page-header"><h2>View some movies</h2></div>
    <div>
      <ul>
        <li><a href="/movie.html2987">Who Framed Roger Rabbit</a></li>
        <li><a href="/movie.html3421">Animal House</a></li>
        <li><a href="/movie.html2124">The Addams Family</a></li>
        <li><a href="/movie.html2554">Children of the Damned</a></li>
      </ul>
    </div>
    <div class="page-header"><h2>View genre pages</h2></div>
    <div>
      <p>contains top-rated movies in that genre</p>


      <table class="table table-striped">
        <thead>
          <tr>
            <th>Genre</th>
            <th>Number of movies in genre</th>
            <th>Number of Ratings in genre</th>
          </tr>
        </thead>
        <tbody>
          {% for genre in genres %}
          <tr>
            <td><a href="{% url 'view_genre' genre.id %}">{{ genre.text }}</a></td>
            <td>{{ genre.Nratings_save }}</td>
            <td>{{ genre.Nmovies_save }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <p>
      View the <a href="/top20.html">Top 20 rated movies</a>
    </p>
    <p>Data comes from the <a href="http://grouplens.org/datasets/movielens/">MovieLens</a>
        dataset. You can visit <a href="https://movielens.org/">their site</a> to leave
        your own non-commercial movie reviews.
    </p>
    <p>Site was created as part of The Iron Yard Python curriculum.
    </p>
    <a href="http://www.djangoproject.com/">
      <img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>

{% endblock %}
