{% extends "Rater/base.html" %}
{% load bootstrap3 %}

{% block content %}

    <p>
      <div style="float:left"><a href="{% url 'view_movie' movie.prior_movie %}">Previous Movie<br />({{ movie.prior_name }})</a></div>
      <div style="float:right"><a href="{% url 'view_movie' movie.next_movie %}">Next Movie<br />({{ movie.next_name }})</a></div>
      <div>&nbsp;</div>
    </p>
    <h2>&nbsp;</h2>

    <div class="jumbotron">
      <h1>Movie: {{ movie.title }}</h1>
      <p>Movie page</p>
    </div>


      <div class="row">
        <div class="col-sm-4">

    {% if request.user.is_authenticated %}
      <div class="page-header"><h2>Your Rating</h2></div>
      {% if user_rate %}

        <p>You have rated this movie!</p>

      {% else %}
        {% if request.user.is_authenticated %}
          <p>You have not rated this movie</p>
          <p>
            <form method="POST" action="{% url 'view_movie' movie.id %}">
                {% csrf_token %}
                {% bootstrap_form rating_form %}
                <input type="submit" name="submit" value="Add This Rating!"/>
            </form>
          </p>
        {% else %}
          <p>Log in to rate movies</p>
        {% endif %}
      {% endif %}
    {% endif %}

  </div><div class="col-sm-8">

      <div class="page-header"><h2>Histogram of Ratings</h2></div>
      {% for n_star in movie.star_numbs %}
      <div style="float:left;width:50px;">&nbsp;{{ n_star.text }}</div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ n_star.val }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ n_star.val }}%;"><span class="sr-only">{{ n_star }}</span></div>
      </div>
      {% endfor %}

    </div>

      <div style="clear:left;"></div>

    <div class="col-sm-4">
      <div class="page-header"><h2>Movie Genres</h2></div>
    <ul>
      {% for gen in movie.genre.all %}
        <li><a href="{% url 'view_genre' gen.id %}">{{ gen.text }}</a></li>
      {% endfor %}
    </ul>
      <div class="page-header"><h2>Movie Info</h2></div>
    <ul>
      <li>average score = {{ movie.avg_rating }}</li>
      <li>has been reviewed {{ movie.total_ratings }} times</li>
    </ul>
    </div>

    {% if ratings|length > 20 %}
    <div class="col-sm-8">
    <div class="page-header"><h2>Raing over Time</h2></div>
    <p>Average rating evolution over time:</p>
    <img src="{% url 'view_fig' movie.id %}" />
    </div>
    {% endif %}


    <div class="clearfix visible-sm"></div>
  </div>

    <div class="page-header"><h2>Reviews of {{ movie.title }}</h2></div>

    <p>{% if ratings|length == 200 %}
      (received over 200 ratings, only showing first 200)
    {% endif %}</p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Rating</th>
          <th>Date</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for rating in ratings %}
        <tr>
          <td><a href="{% url 'view_user' rating.rater.id %}">
            {{ rating.rater.user.username }} (# {{ rating.rater.id }})</a></td>
          <td>{{ rating.get_rating_display }}</td>
          <td>{{ rating.print_date }}</td>
          {% if rating.review %}
          <td>{{ rating.review }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

{#    {% bootstrap_pagination movie %} #}

{% endblock %}
