{% extends "Rater/base.html" %}
{% load bootstrap3 %}

{% block content %}
    <p>
      <div style="float:left"><a href="{% url 'view_user' rater.prior_user %}">Previous User</a></div>
      <div style="float:right"><a href="{% url 'view_user' rater.next_user %}">Next User</a></div>
      <div>&nbsp;</div>
    </p>

    <div class="jumbotron">
      <h1>User {{ rater.user.username }}</h1>
      <p>Also known as #{{ rater.id }}, {{ rater.user.username }} has rated
          {{ rater.rating_count }} movies. I wonder if {{ rater.greeting }}
          mouse clicking finger got tired. Ha ha. Movies subject to {{ rater.greeting }}
          wrath received an average rating of {{ rater.avg_rating }}. What a critic!
      </p>
    </div>

    <div class="page-header"><h2>Rating Histogram</h2></div>

    {% for n_star in rater.star_numbs %}
    <div style="float:left;width:100px;">&nbsp;{{ n_star.text }}</div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ n_star.val }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ n_star.val }}%;"><span class="sr-only">{{ n_star }}</span></div>
    </div>
    {% endfor %}

    <p>Stats on user</p>
    <ul>
      <li>age: {{ rater.age }}</li>
      <li>gender: {{ rater.get_gender_display }}</li>
      <li>occupation: {{ rater.get_occupation_display }}</li>
      <li>zip_code: {{ rater.zip_code }}</li>
    </ul>

    <div class="page-header"><h2>Rating History</h2></div>

      {% if is_paginated %}
        {% bootstrap_pagination page_obj %}
      {% endif %}
      
    <table class="table table-striped">
      <thead>
        <tr>
          {% ifequal request.user.rater.id rater.id %}
          <th>Edit</th>
          {% else %}
          <th>View</th>
          {% endifequal %}
          <th>Movie</th>
          <th>Rating</th>
          <th>Date</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for rating in ratings %}
        <tr>
          {% ifequal request.user.rater.id rater.id %}
          <td><a href="{% url 'view_rating' rating.id %}">Edit</a></td>
          {% else %}
          <td><a href="{% url 'view_rating' rating.id %}">View</a></td>
          {% endifequal %}
          <td><a href="{% url 'view_movie' rating.movie.id %}">{{ rating.movie.title }}</a></td>
          <td>{{ rating.get_rating_display }}</td>
          <td>{{ rating.print_date }}</td>
          {% if rating.review %}
          <td>{{ rating.review }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

      {% if is_paginated %}
        {% bootstrap_pagination page_obj %}
      {% endif %}
{% endblock %}
