{% extends "Rater/base.html" %}

{% block content %}
    <p>
      <div style="float:left"><a href="{% url 'view_user' rater.prior_user %}">Previous User</a></div>
      <div style="float:right"><a href="{% url 'view_user' rater.next_user %}">Next User</a></div>
      <div>&nbsp;</div>
    </p>

    <div class="jumbotron">
      <h1>User {{ rater.user.username }}</h1>
      <p>Also known as #{{ rater.id }}, {{ rater.user.username }} has rated
          {{ rater.rating_count }} movies. I wonder if {{ rater.greeting }}
          mouse clicking finger got tired. Ha ha. Movies subject to {{ rater.greeting }}
          wrath received an average rating of {{ rater.avg_rating }}. What a critic!
      </p>
    </div>

    <p>Rating histogram:</p>
    {% for star in rater.star_hist %}
      {{star}} <br />
    {% endfor %}
    <p>Stats on user</p>
    <ul>
      <li>age: {{ rater.age }}</li>
      <li>gender: {{ rater.get_gender_display }}</li>
      <li>occupation: {{ rater.get_occupation_display }}</li>
      <li>zip_code: {{ rater.zip_code }}</li>
    </ul>
    <p><u>Movies reviewed by this user and the ratings</u></p>
    
    <table class="table table-striped">
      <thead>
        <tr>
          {% ifequal request.user.rater.id rater.id %}
          <th>Edit</th>
          {% else %}
          <th>View</th>
          {% endifequal %}
          <th>Movie</th>
          <th>Rating</th>
          <th>Date</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for rating in ratings %}
        <tr>
          {% ifequal request.user.rater.id rater.id %}
          <td><a href="{% url 'view_rating' rating.id %}">Edit</a></td>
          {% else %}
          <td><a href="{% url 'view_rating' rating.id %}">View</a></td>
          {% endifequal %}
          <td><a href="{% url 'view_movie' rating.movie.id %}">{{ rating.movie.title }}</a></td>
          <td>{{ rating.get_rating_display }}</td>
          <td>{{ rating.print_date }}</td>
          {% if rating.review %}
          <td>{{ rating.review }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
